* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #F3F5FC;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin: 20px 20px 20px 0;
    background: white;
}

.mensaje {
    background-image: url("./Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.mensaje:focus {
    outline: none;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 336px;
    height: 122px;
    gap: 16px;
}

.texto1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.logo {
    width: 120px;
    height: 48px;
    margin-left: 40px;
    margin-top: 40px;
}

.textarea {
    width: 500px;
    height: 300px;
    border: none;
    outline: none;
    font-size: 32px;
    background-color: #F3F5FC;
    color: #0A3871;
}

.textarea::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
}

.buttons {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons button {
    padding: 24px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    color: #0A3871;
    border: none;
    border-radius: 24px;
    border: solid 1px #0A3871;
    cursor: pointer;
}

button:focus {
    background-color: #0A3871;
    color: white;
}

.botones {
    display: flex;
    gap: 24px;
}

.note {
    color: gray;
}

.btn-copiar {
    padding: 10px 20px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    color: #0A3871;
    border: none;
    border-radius: 24px;
    border: solid 1px #0A3871;
    cursor: pointer;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .mensaje {
        background-image: none;
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .mensaje {
        background-image: none;
        display: none;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }
}